<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">수강중인 전공 과목들</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Data Structure</h3>
                    <p class="text-muted">linked list, queue, stack, tree 등을 배웁니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Java Programming</h3>
                    <p class="text-muted">처음으로 접해보는 자바! vs code와 eclipse 등으로 진행됩니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Logic Design</h3>
                    <p class="text-muted">전산과 별로 상관 없을 것 같지만, 열심히 공부중입니다!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Open-source Software Lab </h3>
                    <p class="text-muted">linux, git 등 개발자로서 익히면 좋을 지식들을 잘 배우는 중입니다!</p>
                </div>
            </div>
        </div>
    </div>
</section>
